*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
google-services.json
/app/build
/app/schemas
*.apk
*.aab
*.jks
*.keystore
!gradle/wrapper/gradle-wrapper.jar
